@import "theme/variables.scss";
@import "../../node_modules/uikit/src/scss/variables-theme.scss";
@import "../../node_modules/uikit/src/scss/mixins-theme.scss";
@import "theme/_imports.scss";
@import "components/components.scss";

@font-face {
  font-family: "Stratford Serial";
  src: url("../fonts/Stratford Serial.ttf") format("trueType");
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light.ttf") format("trueType");
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: 2;
}

body {
  background-color: $global-background;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  color: #bf9ba6;
}

a:hover {
  color: #bf9ba6;
  opacity: 0.7;
}

em {
  color: inherit;
}

.main-container {
  background-color: #fff;
}

blockquote {
  background-color: none;
  font-family: Stratford Serial;
  font-style: none;
  padding: $global-gutter;
}

h1,
.uk-h1,
h2,
.uk-h2,
h3,
.uk-h3,
h4,
.uk-h4,
h5,
.uk-h5,
h6,
.uk-h6,
.uk-heading-small,
.uk-heading-medium,
.uk-heading-large,
.uk-heading-xlarge,
.uk-heading-2xlarge {
  color: $global-color;
}

footer {
  background-color:#869E96;
}

.header__logo {
  color:#869E96;
}

.map-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

/////////////////////////////////////////////////////////////// ABOUT PAGES //////////////////////////////////////////////////////////////////////////

.background__main {
  position: absolute;
  top:0;
  height:100vh;
  width:100%;
  opacity:0.06;
  display: none;
  z-index:-1;

  @media only screen and(min-width:1000px) {
      display: flex;
  }
}

.background__image {
  &:nth-child(1) {
     width:100%;
     left:-30%;
     transform: rotate(45deg);
  }

  &:nth-child(2) {
      left:28%;
      width: 100%;
      transform: rotate(225deg);
      top:53%;
  }

}

.herbalmedicine__main {
  text-align: center;
  margin: 1rem;
  position: relative;

  p {
    color: #6e6e6e;
    font-family: Montserrat;
    font-weight: 300;
  }

  h4 {
    font-weight: normal;
    font-size: 1.5rem;
    color: #898989;
  }

  @media only screen and (min-width: 800px) {
    text-align: left;
    margin: auto;
    max-width: 1200px;
  }
}

.herbalmedicine__title {
  text-align: center;

  h1 {
    color: #869e96;
    font-weight: normal;
    font-size: 3.5rem;
    margin: 1rem;

    @media only screen and (min-width: 700px) {
      font-size: 4rem;
    }
  }
}

.herbalmedicine__mainimage {
  margin-bottom: 2rem;
  margin-top: 2rem;
  width: 100%;
  position: relative;
  opacity: 0.6;

  img {
    width: 100%;
  }

  @media only screen and (min-width: 700px) {
    width: 600px;
    position: absolute;
    left: -200px;
    top: 2%;
    opacity: 0.2;
    z-index: -1;
  }

  @media only screen and (min-width: 900px) {
    width: 800px;
    position: absolute;
    left: -200px;
    top: 2%;
    opacity: 0.2;
    z-index: 0;
  }
}

.hm {
  @media only screen and (min-width: 900px) {
    left: -300px;
    width: 700px;
  }
}

.herbalmedicine__text {
  margin: 2rem;
  margin-top: 5rem;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  padding: 1rem;

  p {
    line-height: 1.5;
  }

  blockquote {
    font-weight: normal;
    color: #898989;
    font-size: 1.5rem;
    line-height: 1.5;
  }

  @media only screen and (min-width: 900px) {
    .page__section {
      margin-top: 2rem;
    }

    .page__section:first-child {
      width: 50%;
      float: right;
      z-index: 5;
    }

    .page__section:nth-child(2) {
      clear: both;
      display: flex;
      overflow: hidden;
      blockquote {
        font-size: 2rem;
        align-self: center;
        margin-right: 2rem;
      }
    }

    .page__section:nth-child(3) {
      display: flex;
      div {
        width: 100%;

        p {
          font-family: Montserrat;
          font-weight: 300;
        }
      }
      blockquote {
        font-size: 2rem;
        justify-self: right;
        margin-left: 2rem;
        width: 80%;
      }
    }

    .page__section:nth-child(4) {
      display: flex;

      div:nth-child(2) {
        margin-left: 2rem;
      }
    }
  }
}

.herbalmedicine__imagecontainer {
  margin-bottom: 2rem;
  margin-top: 2rem;
  width: auto;
  height: 100%;
  position: relative;
  top: 0;

  @media only screen and (min-width: 700px) {
    margin: 2rem;
    min-width: 400px;
  }
}

.herbalmedicine__image {
  width: auto;
  height: 100%;

  @media only screen and (min-width: 700px) {
    min-width: 400px;
  }
}

.herbalmedicine__flex {
  @media only screen and (min-width: 900px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    align-items: start;
  }
}

.consultations__pricelist {
  background-color: #bf9ba6;
  opacity: 0.8;
  padding: 2rem;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 3rem;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  margin: auto;

  h4 {
    font-size: 2rem;
    color: white;
  }

  p {
    color: white;
  }
}

.consultations__title {
  font-size: 2.2rem !important;

  @media only screen and (min-width: 500px) {
    font-size: 3rem !important;
  }

  @media only screen and (min-width: 700px) {
    font-size: 4rem !important;
  }
}

.consultations__content {
  margin-top: 5rem;
  text-align: center;

  .page__section:first-child {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    padding: 1rem;
    z-index: 5;
  }

  @media only screen and (min-width: 900px) {
    display: flex;
    flex-direction: row-reverse;
    text-align: left;
  }

  .consultations__images {
    position: relative;
    top: 35%;
  }
}

.workshops__content {
  margin: 2rem;
  margin-top: 5rem;
  text-align: center;

  .page__section:first-child {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    padding: 1rem;
  }

  @media only screen and (min-width: 900px) {
    text-align: left;
    width: 50%;
    float: right;
  }
}

.workshops__images {
  width: 65%;
  margin: auto;
  @media only screen and (min-width: 900px) {
    position: relative;
    top: 35%;
    display: flex;
    clear: both;
    margin: auto;
  }
}

.contact {
  top: -25%;
}

.shop__header {
  position: relative;
  max-width: 900px;
  margin: auto;
}

.shop__postage {
  text-align: center;
}

/////////////////////////////////////////////////////////////// SHOP //////////////////////////////////////////////////////////////////////////

.rrh_grid {
  max-width: 1000px;
  margin: auto;
  padding-bottom: 3rem;
  @media only screen and(min-width:600px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem;
  }

  @media only screen and(min-width:800px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.product__main {
  margin: 1rem;
  padding-bottom: 1rem;
}

.product__image {
  @media only screen and(min-width:600px) {
    height: 12rem;
  }
}

.product__info {
  text-align: center;
  padding-top: 1rem;
  color: #56665f;

  h5,
  h6 {
    font-weight: normal;
    margin: 0;
  }

  h6 {
    font-family: Montserrat;
  }

  h5 {
    font-size: 1.5rem;
  }
}

.productDetail__grid {
  @media only screen and(min-width:900px) {
    display: flex;

    > div {
      width: 50%;
    }

    > div:nth-child(2) {
      text-align: left;
      margin-left: 2rem;
    }
  }
}

.product-quantity__input {
  width:70px;
}

/////////////////////////////////////////////////////////////// CART //////////////////////////////////////////////////////////////////////////

.cart__header {
  border-bottom: 1px solid black;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 1fr 40px;

  > div {
    padding: 8px;

    &:first-child {
      > div:first-child {
        font-weight: bold;
      }

      > div:last-child {
        color: #999;
        margin-top: 4px;
        font-size: 14px;
      }
    }
  }
}

.cart__item {
  margin: auto;
  text-align: center;
  @media only screen and(min-width:800px) {
    display: grid;
    grid-template-columns: 2fr 2fr;
    text-align: right;

    > div:nth-child(2) {
      justify-self: center;
    }
  }
}

.cart__quantity {
  width: min-content;
  margin: auto;
  padding: 1rem 0;
}

.cart__item__product {
  @media only screen and(min-width:800px) {
    display: flex;
    justify-content: flex-start;
    text-align: left;
  }

  > div {
    padding: 5px;
  }

  img {
    object-fit: cover;
    width: 50%;
    max-height: 100px;
    max-width: 100px;
  }
}

.cart__footer {
  margin-top: 1rem;
}

//////////////////////////////////////// MAILCHIMP ///////////////////////////////////////////////////@at-root

.mailchimp {
}