// Use ../node_modules/uikit/src/scss/variables.scss as guidelines
$global-link-color: #56665F;
$global-link-hover-color: #808080;
$base-link-hover-text-decoration: none;
$global-background: #FFFF;
$global-primary-background: #BF9BA6;
$global-secondary-background: #FFFF;
$global-muted-background: #e1e9f0;

$global-color: #56665F;
$global-muted-color: #808080;
$base-heading-font-family: 'Stratford Serial', sans-serif;
$base-body-font-family: 'Montserrat', sans-serif;
$global-font-family: 'Montserrat', sans-serif;
$global-font-size: 18px !default;
$nav-header-text-transform: none !default;
$base-blockquote-color: $global-color !default;
$global-small-font-size: 0.875rem !default;
$base-blockquote-font-size: $global-small-font-size !default;

$card-default-background: $global-background;
$card-hover-background: $global-background;

